<div class="footer-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="copyright">
                    © 2018 Kazan Federal University
                </div>
            </div>
        </div>
    </div>
</div>